<?xml version="1.0"?>
<configuration>
  <facilities>
    <facility id="logging" type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" loggingApi="log4net" configFile="log4net.config" />
    <facility id="factory" type="Castle.Facilities.FactorySupport.FactorySupportFacility, Castle.MicroKernel" />
    <facility id="atm" type="Rhino.Commons.RhinoTransactionFacility, Rhino.Commons.NHibernate" />
  </facilities>
  <components>
    <component id="nhibernate.repository" service ="Rhino.Commons.IRepository`1, Rhino.Commons.NHibernate" type="Rhino.Commons.NHRepository`1, Rhino.Commons.NHibernate" />
    <component id="nhibernate.unit-of-work.factory" service ="Rhino.Commons.IUnitOfWorkFactory, Rhino.Commons.NHibernate" type="Rhino.Commons.NHibernateUnitOfWorkFactory, Rhino.Commons.NHibernate" />
    <component id="transactionmanager" service="Castle.Services.Transaction.ITransactionManager, Castle.Services.Transaction" type="Castle.Services.Transaction.DefaultTransactionManager, Castle.Services.Transaction" />
    <component id="blogRepository" service="YABE.Domain.Repositories.IBlogRepository, YABE.Domain" type="YABE.Infrastructure.DataAccess.BlogRepository, YABE.Infrastructure" />
    <component id="postRepository" service="YABE.Domain.Repositories.IPostRepository, YABE.Domain" type="YABE.Infrastructure.DataAccess.PostRepository, YABE.Infrastructure" />
    <component id="contextFactory" type="YABE.Web.Components.AppContextFactory, YABE.Web" lifestyle="transient" />
    <component id="appContext" type="YABE.Web.Components.IAppContext, YABE.Web" factoryId="contextFactory" factoryCreate="Create" lifestyle="transient" />
    <component id="routeManager" service="YABE.Web.Components.IRouteManager, YABE.Web" type="YABE.Web.Components.RouteManager, YABE.Web" />
  </components>
</configuration>